@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 24px 88px 212px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.title-section {
  margin-bottom: 24px;
}
.title-section span {
  font-size: 24px;
  text-transform: uppercase;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation a {
  padding: 13px 24px;
  border: solid 1px #E6E6E6;
  border-radius: 50px;
  text-decoration: none;
  color: black;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info .lang-number-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info .lang-number-box #phoneNumber {
  margin-left: 24px;
}
.header__info #langBtn {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__info #langBtn img {
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.header__info #langBtn img.openLang {
  margin-left: 5px;
  transform: rotate(180deg);
}
.header__info #langList {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background: white;
  z-index: 10;
}
.header__contacts {
  margin-left: 24px;
  display: flex;
}
.header__contacts button {
  margin-left: 8px;
}
.header__contacts .circle-btn {
  width: 48px;
  height: 48px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contacts .modal-open-btn {
  position: relative;
  width: 219px;
  padding: 14px 64px 14px 24px;
  background-color: #299F5A;
  border: none;
  border-radius: 50px;
}
.header__contacts .modal-open-btn a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.header__contacts .modal-open-btn img {
  position: absolute;
  right: 10px;
  top: 8px;
}

#slider {
  margin-top: 88px;
}

.swiper {
  position: relative;
  padding-bottom: 80px;
}

.swiper-control {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}
.swiper-control .swiper-control--btns {
  display: flex;
  justify-content: space-between;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  z-index: 51;
  left: 0;
  bottom: 24px;
  height: 2px;
  width: 90%;
}

.swiper-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  height: 2px;
}

.swiper-scrollbar-drag {
  background: black;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  color: rgba(0, 122, 255, 0); /* Цвет стрелок */
  width: 40px;
  height: 40px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background-color: rgba(255, 255, 255, 0);
}
.swiper-button-prev img,
.swiper-button-next img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.swiper-button-next {
  margin-left: 8px;
}

#slider .swiper-slide {
  width: 418px;
  height: 598px;
  background-color: #FBF9F9;
  border-radius: 24px;
  padding: 16px 16px 16px 16px;
}
#slider .swiper-slide .image-swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 258px;
  width: 370px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}
#slider .swiper-slide .image-swiper-slide .label-tovar {
  position: absolute;
  top: 0;
  left: 0;
}
#slider .swiper-slide .image-swiper-slide .label-discount {
  padding: 8px 16px;
  background-color: #FFD500;
  color: black;
  border-radius: 8px;
}
#slider .swiper-slide .image-swiper-slide .label-new {
  padding: 8px 16px;
  background-color: #34AADF;
  color: white;
  border-radius: 8px;
}
#slider .swiper-slide .image-swiper-slide img {
  width: 100%;
}
#slider .swiper-slide .content-swiper-slide {
  margin-top: 24px;
}
#slider .swiper-slide .content-swiper-slide .title-tovar-card {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 16px;
  line-height: 140%;
}
#slider .swiper-slide .content-swiper-slide .tovar-info p {
  margin-top: 8px;
  font-size: 16px;
  color: #959595;
}
#slider .swiper-slide .content-swiper-slide .tovar-info p span {
  color: black;
}
#slider .swiper-slide .content-swiper-slide .price-tovar-box {
  margin-top: 24px;
  margin-bottom: 24px;
}
#slider .swiper-slide .content-swiper-slide .price-tovar-box .price-tovar {
  font-size: 20px;
  line-height: 22px;
}
#slider .swiper-slide .content-swiper-slide .price-tovar-box .old-price-tovar {
  margin-left: 8px;
  font-size: 16px;
  color: #959595;
  text-decoration: line-through;
}
#slider .swiper-slide .btn-tovar--link {
  width: 100%;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  padding: 17px 0;
  border-radius: 8px;
  color: white;
  background-color: #299F5A;
  text-align: center;
}

@media (max-width: 1024px) {
  .swiper-slide {
    width: 300px;
  }
}
#catalog {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
}
#catalog .accordion-container {
  width: 75%;
}
#catalog .accordion {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #E6E6E6;
}
#catalog .accordion__intro {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px;
  padding: 28px 0;
  align-items: center;
}
#catalog .accordion__content {
  max-height: 0;
  padding-left: 50px;
  will-change: max-height;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
  position: relative;
  line-height: 140%;
}
#catalog .accordion__content p {
  font-size: 16px;
  color: #959595;
  width: 50%;
  line-height: 22px;
  margin-bottom: 16px;
}
#catalog .accordion__content a {
  font-size: 16px;
  color: #299F5A;
  width: 50%;
  text-decoration: none;
  line-height: 22px;
}
#catalog .accordion.accordion__active .accordion__content {
  opacity: 1;
  margin-bottom: 48px;
}
#catalog .accordion:first-of-type {
  border-top: none;
}
#catalog .accordion__intro-btn {
  margin-left: auto;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #fff;
  color: #299F5A;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#catalog .accordion__intro-btn.acc_icon_active {
  background-color: #299F5A;
  color: #fff;
  border-color: #299F5A;
}
#catalog .accordion__intro-btn.acc_icon_active .arrow-icon {
  transform: rotate(180deg);
}
#catalog .accordion__intro-btn .arrow-icon {
  width: 12px;
  height: 16px;
  transition: transform 0.3s;
}
#catalog .accordion.accordion__active {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
#catalog .id-services {
  font-size: 16px;
}
#catalog .name-services {
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  width: 60%;
}
#catalog .count-tovar {
  font-size: 16px;
  color: #959595;
}
#catalog .all {
  display: inline-block;
  width: 100%;
  padding: 17px 0;
  border-radius: 8px;
  color: white;
  background-color: #299F5A;
  text-align: center;
  border: none;
  margin-top: 20px;
}

#info-block {
  margin-top: 96px;
}
#info-block .tabs-block {
  border: solid 1px #E6E6E6;
  border-radius: 16px;
  padding: 32px;
}
#info-block ul.tabs {
  list-style: none;
  padding: 0;
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
#info-block ul.tabs li {
  padding: 30px 0;
  margin-right: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  user-select: none;
}
#info-block ul.tabs li.current {
  border-bottom: 2px solid #299F5A;
}
#info-block .tab-content {
  display: none;
  width: 80%;
}
#info-block .tab-content.current {
  display: block;
}
#info-block .title-info {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  line-height: 22px;
  margin-top: 36px;
  margin-bottom: 16px;
}
#info-block .gray-text {
  font-size: 16px;
  color: #959595;
  line-height: 22px;
}
#info-block .label-required::before {
  content: "* ";
  color: black;
  font-weight: bold;
}
#info-block .list-info {
  margin: 0;
  padding-left: 20px;
}
#info-block .list-info li {
  margin-top: 12px;
  font-size: 16px;
  color: #959595;
}
#info-block .list-info li::marker {
  color: #299F5A;
}
#info-block table {
  margin-top: 32px;
  width: 100%;
  border-collapse: collapse;
}
#info-block table tr td {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 16px 0;
}
#info-block table tr td:first-child {
  font-size: 16px;
  color: #959595;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  padding-top: 80px;
}

@media (min-width: 768px) and (max-width: 1784px) {
  .wrapper {
    padding-top: 4.47vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    padding-top: 17.07vw;
  }
}
.wrapper.overlay {
  position: relative;
}

.wrapper.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 21;
  background: rgba(38, 38, 38, 0.65);
}

.mobile__menu {
  position: fixed;
  right: -200vw;
  height: 100%;
  max-width: 770px;
  width: 100%;
  background: #fff;
  padding: 6.4vw;
  top: 0;
  z-index: 9999;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  overflow: auto;
}

.mobile__menu.open {
  right: 0;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}

.mobile__menu .mobile__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mobile__menu .mobile__menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12.8vw;
  padding-top: 3.73vw;
}

.mobile__menu .mobile__menu-top button {
  margin-left: auto;
}

.mobile__menu .mobile__menu-top img {
  height: 12.8vw;
}

.mobile__menu .mobile__menu-body {
  margin-bottom: 12.8vw;
}

.mobile__menu .mobile__menu-body .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mobile__menu .mobile__menu-body .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.8vw;
  }
}
.mobile__menu .mobile__menu-body .header__menu li {
  width: 100%;
  font-size: 5.87vw;
}

.mobile__menu .mobile__menu-bottom {
  border-top: 1px solid #d9d9d9;
  padding-top: 8.53vw;
  margin-top: auto;
}

.mobile__menu .mobile__menu-bottom > a {
  font-size: 6.4vw;
  margin-bottom: 4.27vw;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
}

.mobile__menu .mobile__menu-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4.8vw;
  color: #808489;
}

.mobile__menu .mobile__menu-bottom .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) and (max-width: 1784px) {
  .mobile__menu .mobile__menu-bottom .social__list {
    gap: 0.43vw;
  }
}
.mobile__menu .mobile__menu-bottom .social__list > a:not(.btn) {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1784px) {
  .mobile__menu .mobile__menu-bottom .social__list > a:not(.btn) {
    width: 2.61vw;
    height: 2.61vw;
    border-radius: 2.72vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .mobile__menu .mobile__menu-bottom .social__list > a:not(.btn) {
    width: 12.8vw;
    height: 12.8vw;
    border-radius: 13.33vw;
  }
}
.mobile__menu .mobile__menu-bottom .social__list > a:not(.btn) svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) and (max-width: 1784px) {
  .mobile__menu .mobile__menu-bottom .social__list > a:not(.btn) svg {
    width: 1.3vw;
    height: 1.3vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .mobile__menu .mobile__menu-bottom .social__list > a:not(.btn) svg {
    width: 6.4vw;
    height: 6.4vw;
  }
}
.mobile__menu .header__burger-close {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1784px) {
  .mobile__menu .header__burger-close {
    width: 1.09vw;
    height: 1.09vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .mobile__menu .header__burger-close {
    width: 5.33vw;
    height: 5.33vw;
  }
}
.mobile__menu .header__burger-close svg path {
  fill: #262626;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  display: none;
  border-radius: 16px;
  max-width: 520px;
  width: 100%;
  background: #fff;
  padding: 40px;
}

.modal.open {
  display: block;
}

#modal-form {
  position: relative;
  width: 100%;
  max-height: 650px;
  background: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}
#modal-form .title-form {
  font-size: 28px;
  text-transform: uppercase;
  color: black;
}
#modal-form .small-text-form {
  font-size: 16px;
  color: #959595;
  line-height: 140%;
  margin-top: 8px;
}
#modal-form form {
  width: 100%;
  margin-top: 24px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.input, .textarea {
  width: 100%;
  height: 56px;
  padding: 29px 24px 8px 24px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  font-family: "Inter", sans-serif;
  background: transparent;
  border: 1px solid #E6E6E6;
  border-radius: 50px;
  color: #959595;
}

.textarea {
  min-height: 100px;
  resize: vertical;
  border-radius: 24px;
}

.input__placeholder {
  position: absolute;
  left: 24px;
  bottom: 18.5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.01em;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #959595;
}

textarea ~ .input__placeholder {
  top: 24px;
  bottom: auto;
}

.input-wrapper:not(.empty) .input__placeholder,
.input:focus + .input__placeholder {
  bottom: 28px;
  font-size: 12px;
  color: #959595;
}

.input-wrapper:not(.empty) textarea ~ .input__placeholder,
.textarea:focus + .input__placeholder {
  top: 10px;
  font-size: 12px;
  color: #959595;
}

.input-wrapper.error .input,
.input-wrapper.error .textarea {
  border-color: #fe0000;
}

.input-wrapper.error .input__placeholder {
  color: #fe0000;
}

.input-wrapper.error {
  color: #959595;
  font-size: 16px;
}

.input:focus,
.textarea:focus {
  border-color: #299F5A; /* Зеленый цвет */
}

.btn-form {
  display: inline-block;
  width: 100%;
  padding: 17px 0;
  border-radius: 8px;
  color: white;
  background-color: #299F5A;
  text-align: center;
  border: none;
  border-radius: 50px;
}

.checkbox-container {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #747474;
  margin-top: 10px;
  z-index: 10;
}

.checkbox-container input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-container .checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 34px;
  cursor: pointer;
  flex-wrap: nowrap;
  width: 100%;
  line-height: 1.4;
}

.checkbox-container a {
  color: black;
  position: relative;
}

.checkbox-container a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: black;
  bottom: -1px;
  left: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #299F5A;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 0;
}

.checkbox-container input:checked ~ .checkbox-label .checkmark {
  background: #299F5A;
  border-color: #299F5A !important;
}

@media (min-width: 768px) and (max-width: 1784px) {
  .checkbox-container .checkbox-label {
    padding-left: 1.74vw;
  }
  .checkmark,
  .checkbox-container input {
    width: 1.3vw;
    height: 1.3vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .checkbox-container .checkbox-label {
    padding-left: 8.53vw;
  }
  .checkmark,
  .checkbox-container input {
    width: 6.4vw;
    height: 6.4vw;
  }
}
.checkmark svg {
  display: none;
  width: 16px;
  height: 16px;
}

.checkbox-container input:checked ~ .checkbox-label .checkmark svg {
  display: block;
}

.checkbox-container.agree-error .checkmark {
  border: 1px solid #fe0000 !important;
}

/*# sourceMappingURL=styles.css.map */
